<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386891168137-6fs0g2u4anrt6sm089t6k1pmqitc69ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386891168137-6fs0g2u4anrt6sm089t6k1pmqitc69ca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>386891168137-bv01gm6mag4ou5q342ga9pj5e489j19e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCamUAnoUFhE_8fOjtN5rHdaDkCgfjZY5A</string>
	<key>GCM_SENDER_ID</key>
	<string>386891168137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tintuc</string>
	<key>PROJECT_ID</key>
	<string>tintuc-a0ba2</string>
	<key>STORAGE_BUCKET</key>
	<string>tintuc-a0ba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386891168137:ios:978ff18ddfc067d0314958</string>
	<key>DATABASE_URL</key>
	<string>https://tintuc-a0ba2-default-rtdb.firebaseio.com</string>
</dict>
</plist>